<div [formGroup]="form" class="course-details-form">
  <mat-form-field floatLabel="auto">
    <input matInput placeholder="Course title" formControlName="title" #title />
    <mat-hint align="end"> {{ title.value.length }}/60 </mat-hint>
  </mat-form-field>
  <mat-radio-group class="course-type" formControlName="courseType">
    <mat-radio-button [disabled]="true" value="free">Free</mat-radio-button>
    <mat-radio-button value="premium">Premium</mat-radio-button>
  </mat-radio-group>
  <mat-form-field appearance="fill">
    <mat-select formControlName="category" placeholder="Select category">
      <mat-option>None</mat-option>
      <mat-option value="beginners">Beginners</mat-option>
      <mat-option value="intermediate">Intermediate</mat-option>
      <mat-option value="advanced">Advanced</mat-option>
    </mat-select>
  </mat-form-field>
</div>
